<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nytimes.android.external.playbillingtester">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".PlayBillingTesterApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Register" >
        <activity
            android:name=".MainActivity"
            android:label="@string/main_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity"
            android:label="@string/settings_name"/>

        <activity android:name=".legal.LegalActivity"
            android:label="@string/settings_other_legal"/>

        <service
            android:name=".PlayBillingTesterService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.nytimes.android.external.playbillingtester.InAppBillingService.BIND"/>
            </intent-filter>
        </service>

        <activity
            android:name=".BuyActivity"
            android:theme="@style/Theme.Register.Dialog"
            android:label="@string/title_activity_buy" >
            <intent-filter>
                <action android:name="com.nytimes.android.external.playbillingtester.test.buy"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
