<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nytimes.android.external.register">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application>
        <activity
            android:name="com.nytimes.android.external.register.MainActivity"
            android:label="@string/nyt_register_main_name"
            android:icon="@mipmap/nyt_register_ic_launcher"
            android:theme="@style/nyt_register_Theme.Register.Translucent"
            android:taskAffinity="com.nytimes.android.external.register.${applicationId}"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.nytimes.android.external.register.test.buy"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".RegisterService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.nytimes.android.external.register.InAppBillingService.BIND"/>
            </intent-filter>
        </service>
    </application>

</manifest>
